openapi: 3.0.3
info:
  title: Servicio de Atracciones API (Contrato Real Implementado)
  description: Contrato de integración REST actualizado con las rutas reales del sistema expuestas a través del API Gateway.
  version: 1.0.0
servers:
  - url: https://gateway-service.ashysea-53177507.centralus.azurecontainerapps.io
    description: API Gateway en Producción (Azure)

paths:
  /api/v1/catalog/attraction:
    get:
      summary: Listar atracciones
      description: Obtiene un listado de atracciones activas del catálogo.
      operationId: GetAtracciones
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          description: Búsqueda por nombre o descripción
          schema:
            type: string
        - name: ubicacion
          in: query
          schema:
            type: string
        - name: disponible
          in: query
          description: Filtrar solo atracciones que tengan cupos futuros
          schema:
            type: boolean
      responses:
        '200':
          description: Listado obtenido con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListAtraccion'

  /api/v1/catalog/attraction/{slug}:
    get:
      summary: Obtener atracción por ID o Slug
      description: Recupera los detalles de una atracción específica para mostrar en la interfaz.
      operationId: GetAtraccionById
      parameters:
        - name: id
          in: path
          required: true
          description: UUID o Slug de la atracción  
          schema:
            type: string
      responses:
        '200':
          description: Atracción encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAtraccion'
        '404':
          description: Atracción no encontrada

  /api/v1/booking/disponibilidad:
    get:
      summary: Consultar disponibilidad
      description: Obtiene la disponibilidad agrupada por fechas para las atracciones.
      operationId: GetDisponibilidadAtraccion
      parameters:
        - name: attractionId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: fecha
          in: query
          description: Fecha específica (yyyy-MM-dd).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Disponibilidad consultada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListDisponibilidad'

  /api/v1/booking:
    post:
      summary: Crear una reserva (Integrador Externo)
      description: Bloquea el cupo y registra los pasajeros para una atracción específica. Usa DTOs externos.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '200':
          description: Reserva creada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBooking'

  /api/v1/admin-booking:
    post:
      summary: Crear una reserva segura (Plataforma Interna con gRPC)
      description: Crea una reserva validando estrictamente los precios con el Catálogo a través de gRPC.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object # Aquí iría el esquema de AdminBookingRequest
      responses:
        '200':
          description: Reserva segura creada con éxito

  /api/v1/booking/mis-reservas:
    get:
      summary: Listar mis reservas
      description: Obtiene el historial de reservas del usuario autenticado.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBooking'

  /api/v1/booking/{id}/cancel:
    post:
      summary: Cancelar una reserva
      description: Cancela la reserva y libera los cupos en el inventario.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reserva cancelada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSuccess'

  /api/v1/billing/management:
    get:
      summary: Listar facturas (Admin)
      description: Obtiene el listado de facturas generadas por el sistema.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista de facturas obtenida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListInvoice'

  /api/v1/client/validate/{docNumber}:
    get:
      summary: Validar cliente por identificación
      description: Verifica si un cliente ya existe en el sistema por su número de documento.
      security:
        - BearerAuth: []
      parameters:
        - name: docNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resultado de la validación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseClient'

  /api/v1/Auth/Login:
    post:
      summary: Iniciar Sesión
      description: Obtener el token JWT necesario para consumir el resto de endpoints protegidos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        '200':
          description: Token generado con éxito

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AtraccionDto:
      type: object
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        descripcion: { type: string }
        precio: { type: number, format: double }
        moneda: { type: string, default: USD }
        ubicacion: { type: string }
        imagenUrl: { type: string, format: uri }
        disponible: { type: boolean }

    DisponibilidadDto:
      type: object
      properties:
        fecha: { type: string, format: date }
        cuposDisponibles: { type: integer }

    BookingRequest:
      type: object
      properties:
        slotId: { type: string, format: uuid }
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/TicketDetail'
        notas: { type: string, nullable: true }

    TicketDetail:
      type: object
      properties:
        ticketCategoryId: { type: string, format: uuid }
        firstName: { type: string }
        lastName: { type: string }
        documentNumber: { type: string }
        documentType: { type: string }

    BookingResponse:
      type: object
      properties:
        bookingId: { type: string, format: uuid }
        pnrCode: { type: string }
        status: { type: string }
        totalAmount: { type: number }
        currency: { type: string }
        activityDate: { type: string, format: date-time }
        attractionName: { type: string }

    ApiResponseAtraccion:
      type: object
      properties:
        success: { type: boolean }
        data: { $ref: '#/components/schemas/AtraccionDto' }
        message: { type: string, nullable: true }
        errors: { type: array, items: { type: string } }

    ApiResponseListAtraccion:
      type: object
      properties:
        success: { type: boolean }
        data: { type: array, items: { $ref: '#/components/schemas/AtraccionDto' } }
        message: { type: string, nullable: true }
        errors: { type: array, items: { type: string } }

    ApiResponseBooking:
      type: object
      properties:
        success: { type: boolean }
        data: { $ref: '#/components/schemas/BookingResponse' }
        message: { type: string, nullable: true }

    ApiResponseListBooking:
      type: object
      properties:
        success: { type: boolean }
        data: { type: array, items: { $ref: '#/components/schemas/BookingResponse' } }

    ApiResponseSuccess:
      type: object
      properties:
        success: { type: boolean }
        data: { type: boolean }
        message: { type: string, nullable: true }

    ApiResponseListDisponibilidad:
      type: object
      properties:
        success: { type: boolean }
        data: { type: array, items: { $ref: '#/components/schemas/DisponibilidadDto' } }
        message: { type: string, nullable: true }
        errors: { type: array, items: { type: string } }

    InvoiceDto:
      type: object
      properties:
        id: { type: string, format: uuid }
        invoiceNumber: { type: string }
        customerName: { type: string }
        total: { type: number }
        createdAt: { type: string, format: date-time }

    ApiResponseListInvoice:
      type: object
      properties:
        success: { type: boolean }
        data: { type: array, items: { $ref: '#/components/schemas/InvoiceDto' } }

    ClientDto:
      type: object
      properties:
        id: { type: string, format: uuid }
        firstName: { type: string }
        lastName: { type: string }
        documentNumber: { type: string }

    ApiResponseClient:
      type: object
      properties:
        success: { type: boolean }
        data: { $ref: '#/components/schemas/ClientDto', nullable: true }
